# Docker
data/
volumes/
*.log
*.pid

# Airflow
airflow.db
*.pyc
__pycache__/
logs/

# ClickHouse
clickhouse_data/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Temporary files
/tmp/
/temp/
